#$ TOOL ispLEVER Classic 2.0.00.17.20.15
#$ DATE Tue Nov 05 11:40:32 2019
#$ MODULE zadanie0
#$ PINS 3 i_btn i_sel o_led
.type fr
.i 2
.o 2
.ilb i_btn i_sel
.ob o_led.LH o_led.D
.p 4
1- ~1
-1 1~
0- ~0
-0 0~
.end
